.mappings {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mappingHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #e0e0e0;
}

.mappingRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #e0e0e0;
}

.mappingRow button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}